<section id="course_faq_page" class="container">
    <h1>FAQs</h1>
    <br>
    <br>
    <h2><u>Why do I have to do these portfolios?</u></h2>
    <p style="margin-top: 10px; margin-bottom: 30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
    <br>
    <h2><u>Will this affect my students grades?</u></h2>
    <p style="margin-top: 10px; margin-bottom: 30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
    <br>
    <h2><u>How often do I have to do the evaluations?</u></h2>
    <p style="margin-top: 10px; margin-bottom: 30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
    <h3>Have more questions? Contact Us!</h3>
    <form target="_self" method="POST">
		<div class="row">
			<label for="name" style="margin-right: 10px;">Name: </label><input style="width: 50%; margin-bottom: 10px;" type="text" name="name">
		</div>
		<div class="row" >
			<label style="margin-right: 10px;" for="question">Question: </label><textarea  style="width: 50%;" name="question"></textarea>
		</div>
		<input style="margin-top: 15px; border-radius: 3px; color: white; background: blue;" type="submit" />
	</form>
</section>