<style>
	#fullBar{
		width:50%;
		background-color: #ccc;
	}
	#partBar{
		width:0%;
		height: 20px;
		background-color:orange;
	}
	.material-icons {
  		position: relative;
	    display: inline-block;
	}	
	.hoverText{
		visibility: hidden;
		width: 120px;
		font-size: 12px;
  		background-color: #555;
  		color: #fff;
  		text-align: center;
  		border-radius: 6px;
  		padding: 5px 0;
  		position: absolute;
  		z-index: 1;
 		bottom: 125%;
		left: 50%;
	  	margin-left: -60px;
	  	opacity: 0;
	  	transition: opacity 0.3s;
	}
	.material-icons .hoverText::after {
 		content: "";
  		position: absolute;
  		top: 100%;
  		left: 50%;
  		margin-left: -5px;
  		border-width: 5px;
  		border-style: solid;
  		border-color: #555 transparent transparent transparent;
	}
	.material-icons:hover .hoverText {
  		visibility: visible;
  		opacity: 1;
	}
</style>
	<section id="course_index_page" class="container">
		<section class="new_courses">
			<a href="/course/new">
				new course <i class="material-icons">add_circle</i>
				</a>
			<a href="/faq">
				FAQS?
			</a>
		</section>
		<section class="active_courses">
			<h2>Active Courses 
				<i class="material-icons" onmouseover="hover(this)" onmouseout="notHover(this)">help
					<span class="hoverText">ALorem ipsum dolor sit amet</span>
				</i>
			</h2>
			<table>
				<tr>
					<th>Course</th>
					<th>Semester</th>
					<th>Year</th>
					<th>Artifact Progress 
						<i class="material-icons" onmouseover="hover(this)" onmouseout="notHover(this)">help
							<span class="hoverText">Lorem ipsum dolor sit amet</span>
						</i>
					</th>
					<th>Due Date</th>
					<th></th>
				</tr>
				<tr>
					<td>CS498</td>
					<td>Fall</td>
					<td>2019</td>
					<td><i class="numerator">8</i> / <i class="denominator">12</i><div id="fullBar"><div id="partBar"></div></div></td>
					<td><i class="Adate">Dec 5, 2019</i><div id="fullBar"><div id="partBar"></div></div></td>
					<td><a href="/course/123">edit <i class="material-icons">edit</i></a></td>
				</tr>
				<tr>
					<td>CS499</td>
					<td>Fall</td>
					<td>2019</td>
					<td><i class="numerator">12</i> / <i class="denominator">12</i><div id="fullBar"><div id="partBar"></div></div></td>
					<td><i class="Adate">Dec 5, 2019</i></td>
					<td><a href="/course/123">edit <i class="material-icons">edit</i></a></td>
				</tr>
			</table>
		</section>
		<section class="archived_courses">
			<h2>Archived Courses</h2>
			<table>
				<tr>
					<th>Course</th>
					<th>Semester</th>
					<th>Year</th>
					<th>Artifact Progress 
						<i class="material-icons" onmouseover="hover(this)" onmouseout="notHover(this)">help
							<span class="hoverText">Lorem ipsum dolor sit amet</span>
						</i>
					</th>
					<th>Due Date</th>
					<th></th>
				</tr>
				<tr>
					<td>CS498</td>
					<td>Fall</td>
					<td>2019</td>
					<td>8 / 12</td>
					<td>Dec 5, 2019</td>
					<td><a href="/course/123">view <i class="material-icons">pageview</i></a></td>
				</tr>
				<tr>
					<td>CS499</td>
					<td>Fall</td>
					<td>2019</td>
					<td>12 / 12</td>
					<td>Dec 5, 2019</td>
					<td><a href="/course/123">view <i class="material-icons">pageview</i></a></td>
				</tr>
			</table>
		</section>
		<button onclick="location.href = '/login';">Logout</button>
	</section>
